
setup/fast-ai-commands.txt

setup/fast-ai-remove.sh

.idea/fast-ai.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

*.pyc
*.pyc

codes/.ipynb_checkpoints/lesson1-checkpoint.ipynb

mycodes/.ipynb_checkpoints/dogscats-checkpoint.ipynb
mycodes/.ipynb_checkpoints/linear_CNN-checkpoint.ipynb
mycodes/.ipynb_checkpoints/linear_simple-checkpoint.ipynb
mycodes/.ipynb_checkpoints/Mnist-checkpoint.ipynb
examples/.ipynb_checkpoints/lesson3_mnist-checkpoint.ipynb
mycodes/.ipynb_checkpoints/Mnist-checkpoint.ipynb
mycodes/.ipynb_checkpoints/Mnist-checkpoint.ipynb
